/* Custom styles go here */

.full-width {
    width: 100%
}
.half-width {
    width: 49.5%;
}
.quarter-width {
    width: 25%;
}
.left {
    float: left;
}
.right {
    float: right;
}

.footnote {
    font-size: 0.2rem;
}

.vestii-symbol {
    width: 30px;
    height: 30px;
}
.vestii-symbol.small {
    width: 17px;
    height: 17px;
}

.timeline table {
    box-shadow: none;
    border: solid 1px var(--md-accent-bg-color--light)
}
.timeline table .timeline_date {
    width: 20%;
    text-align: right !important;
    font-size: 0.8rem;
}
.timeline table .timeline_event {
    text-align: center !important;
}
.timeline table .timeline_summary {
    width: 40%;
    text-align: left !important;
}
.timeline table tbody .timeline_date {
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
    font-weight: bold;
}
.timeline table tbody .timeline_summary {
    text-align: left;
    font-size: 0.5rem;
    font-style: italic;
}
.timeline table tbody .timeline_section {
    background-color: var(--md-code-hl-function-color) !important;
    color: var(--md-code-bg-color);
    width: 100%
}
.timeline table tbody .timeline_section:hover {
    background-color: var(--md-primary-fg-color) !important;
    box-shadow: none;
}
.timeline table tbody .timeline_highlight {
    background-color: var(--md-code-hl-function-color) !important;
    color: var(--md-code-bg-color);
    width: 100%
}
.timeline table tbody tr td {
    border: none !important;
}
.timeline table tbody tr:nth-child(odd) {
    background-color: var(--md-default-fg-color--lightest);
}
.timeline table tbody tr:hover {
    background-color: var(--md-typeset-kbd-border-color) !important;
    box-shadow: none;
}

/* Overrides */

.md-typeset h1 {
    margin: 0;
}
.md-typeset h2.subtitle {
    display: block;
    margin: 0;
    padding-left: 0.3em;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: -.01em;
    color: rgba(0,0,0,.54);
}